In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('ABCC8_suset.tsv', delimiter = "\t", index_col=False)
df.head(12)
df2 = df.assign(alt_allele = "") #create new dataframe for parsing
df2.drop(columns=['A','C','G','T'], axis=1, inplace=True) #drop columns not needed

for idx, row in df2.iterrows():
    max_value = 0
    allele=""
    if row['count_A'] > max_value & row['count_A'] < 1000:
        allele="A"
    if row['count_C'] > max_value & row['count_C'] < 1000 :
        allele="C"
    elif row['count_T'] > max_value & row['count_T'] < 1000:
        allele="T"
    elif row['count_G'] > max_value & row['count_G'] < 1000:
        allele="G"
    else:
        allele="N/A"
    
    df2.at[idx , 'alt_allele'] = allele

df2  

#alt_allele = df2['count_C'].sum()  #get the sume of count_C column
#print(alt_allele)


#position = df[df["position"]>17415756]


#List unique values in the df['name'] column

    #for i in df.position.unique():
    #if df[df["position"] == i]:
    #print(df)

,sample,chrom,position,ref_allele,total_cov,count_A,count_C,count_G,count_T,count_ref,percent_ref,count_alt,percent_alt,alt_allele
0,s10_S10_L001,chr11,17415767,A,8010,8005,4,1,0,8005,99.938,4,0.050,C
1,s11_S11_L001,chr11,17415767,A,8010,8006,2,2,0,8006,99.950,2,0.025,C
2,s1_S1_L001,chr11,17415767,A,8010,8008,2,0,0,8008,99.975,2,0.025,C
3,s2_S2_L001,chr11,17415767,A,8010,8009,1,0,0,8009,99.988,1,0.012,C
4,s3_S3_L001,chr11,17415767,A,8010,8008,2,0,0,8008,99.975,2,0.025,C
5,s4_S4_L001,chr11,17415767,A,8010,8008,1,0,1,8008,99.975,1,0.012,C
6,s5_S5_L001,chr11,17415767,A,8010,8008,1,1,0,8008,99.975,1,0.012,C
7,s6_S6_L001,chr11,17415767,A,8010,8010,0,0,0,8010,100.000,0,0.000,N/A
8,s7_S7_L001,chr11,17415767,A,8010,8010,0,0,0,8010,100.000,0,0.000,N/A
9,s8_S8_L001,chr11,17415767,A,8010,8005,3,2,0,8005,99.938,3,0.037,C
10,s9_S9_L001,chr11,17415767,A,8010,8008,1,1,0,8008,99.975,1,0.012,C

In [7]:
value = 0

alt_allele_a = alt_allele_c = alt_allele_t = alt_allele_g = 0  #values of potential alt alleles to count/sum

#print(alt_allele_a ,alt_allele_c, alt_allele_t, alt_allele_g)

#identify the refe allele 
for idx, row in df2.iterrows():
    alt_allele_a = row['count_A'] + alt_allele_a
    alt_allele_c = row['count_C'] + alt_allele_c
    alt_allele_g = row['count_G'] + alt_allele_g
    alt_allele_t = row['count_T'] + alt_allele_t
    
allele_list = [alt_allele_a ,alt_allele_c, alt_allele_t, alt_allele_g]

if alt_allele_a < 1000 :
    allele="A"
elif alt_allele_c > value & alt_allele_c < 1000:
    allele="C"
elif alt_allele_g > value & alt_allele_g < 1000:
    allele="G"
elif alt_allele_t > value & alt_allele_t < 1000:
    allele="T"

    
print(allele_list)   

max_value = max(allele_list)
max_index = allele_list.index(max_value)



if max_value > 1000:
    allele_list[max_index] = 0
    max_value = max(allele_list)
    max_index = allele_list.index(max_value)

    print(max_value, max_index)

[88085, 17, 1, 7]
17 1

In [8]:





for idx, row in df2.iterrows():
    alt_allele_a = alt_allele_c = alt_allele_t = alt_allele_g = 0  #values of potential alt alleles to count/sum
    allele_count_list = ["count_A", "count_C", "count_T", "count_G"] #columns of potential allele counts to sum
    ref_allele = row['ref_allele']  #find reference allele to omit from downstream counting
    
    column_to_remove='count_'+ref_allele
    allele_count_list.remove(column_to_remove)
    #print(allele_count_list)

    
    for x in range(len(allele_count_list)): 
        print (allele_count_list[x])
    
    #for i in allele_count_list:
     #   print(i + ' ' +str(row[i]))
        #alt_allele_a = row['count_A'] + alt_allele_a
        #alt_allele_c = row['count_C'] + alt_allele_c
        #alt_allele_t = row['count_T'] + alt_allele_t
        #alt_allele_g = row['count_G'] + alt_allele_g

        #print(row['count_A'], row['count_C'], row['count_T'], row['count_G']) 
    
#print(alt_allele_a, alt_allele_c,alt_allele_t, alt_allele_g)

count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G
count_C
count_T
count_G